.h1 {
    color: #1E1E1E 100%;
    font-family: 'Montserrat-Regulat' sans-serif;
    font-size: 46px;
    margin: 0 auto;
    text-align: left;
    line-height: 57px (1.2);
}

.h2 {
    color: #1E1E1E 100%;
    font-family: 'Montserrat-Regulat' sans-serif;
    font-size: 34px;
    margin: 0 auto;
    text-align: center;
    line-height: 42px (1.2);
    width: 780px;
}

.h3 {
    color: #1E1E1E 100%;
    font-family: 'Montserrat-Regulat' sans-serif;
    font-size: 28px;
    margin: 0 auto;
    text-align: center;
    line-height: 34px (1.2);
   
}

.text {
    color: #1E1E1E 100%;
    font-family: 'Cardo-Regulat' sans-serif;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    line-height: 30px (1.9);
    height: 30px;
    width: 780px;
}