
body {
    background-color: #9B9B9B;
}

.modal_overlay {
    fill: #ffffff 100%;
    border: 1px inside * #9B9B9B;
    box-shadow: outer 
    * x,y - 0px, 0px
    * blur - 26px
    * spread - 6px;
    width: 1000px;
    height: 750px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
   
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    line-height: 57px (1.2);
    margin-top: 50px;
    margin-bottom: 50px;
}

.input {
    width: 400px;
    height: 35px;
    border: 1px solid #9b9b9b;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Cardo', serif;
    line-height: 1.4;
    padding: 0 5px;
    margin-bottom: 25px;
    margin-left: 50px;
    
}

.input_url {
    width: 865px;
    height: 35px;
    border: 1px solid #9b9b9b;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Cardo', serif;
    line-height: 1.4;
    padding: 0 5px;
    margin-bottom: 25px;
    margin-left: 50px;
    
}
.textarea {
    display: block;
    border: 1px solid #9b9b9b;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Cardo', serif;
    width: 880px;
    box-sizing: border-box;
    margin-bottom: 25px;
    margin-left: 50px;
}

.modal_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}

.button {
    background: none;
    border: 1px solid #9b9b9b;
    border-radius: 50px;
    font-size: 14px;
    height: 60px;
    line-height: 1.3;
    width: 300px;
    text-transform: uppercase;
    cursor: pointer;
}

.button--pink {
    background: #FFE3E3;
} 